[user]
    name = Matias Kinnunen
    email = github@mtsknn.fi
[alias]
    amend = commit --amend
    c = commit
    co = checkout
    d = diff --word-diff-regex=.
    lg = !"git lg1"
    ll = log --stat --abbrev-commit
    s = status
    unstage = restore --staged

    # Source: https://stackoverflow.com/a/9074343/1079869
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

    # Never run `git push --force`.
    # Be polite and say `git please` instead.
    please = push --force-with-lease

    # Use the commit message from the undoed commit (`git undo`)
    redo = commit -c ORIG_HEAD

    # Undo previous commit
    undo = reset HEAD~

# I don't remember what the rest of the configs do :sweat_smile:
[core]
    autocrlf = false
    safecrlf = false
    whitespace = cr-at-eol
[push]
    default = simple
